.large-card {
  width: 390px;
  height: 390px;
  border-radius: var(--normal-border-radius);
  background: var(--first-color-50);
  filter: var(--border-card-shadow);
  margin: 15px;

  .large-card__picture {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .large-card__picture-img {
      height: 350px;
      width: 350px;
      object-fit: cover;
      border-radius: var(--normal-border-radius);
    }
  }

  .large-card__map {
    height: 100%;
    width: 100%;
    position: relative;

    &-img {
      height: 100%;
      width: 100%;
      border-radius: var(--normal-border-radius);
    }

    &-focus {
      position: absolute;
      top: 48%;
      left: 35%;

      img {
        height: 100px;
      }
    }

    &-location {
      margin-bottom: 20px;
      margin-left: 15px;
      bottom: 0;
      font-size: var(--extra-small-font);
      font-weight: var(--very-small-font-weight);
      position: absolute;
      width: fit-content;
      border-radius: 26px;
      border: 1px solid var(--border-color-button);
      background: var(--first-color-50);
      filter: var(--border-card-shadow);

      p {
        padding: 8px 12px;
      }
    }
  }
}