.profile-section-content {
  padding: 0 40px;
  margin-top: 65px;
  margin-bottom: 65px;

  .profile-section-image {
    padding-bottom: 30px;

    .profile-section-image-profile {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      object-fit: cover;
      object-position: 50% 25%;
    }
  }

  .profile-section-paragraph {
    &-title {
      font-size: var(--medium-large-font);
      font-weight: var(--medium-font-weight);
      padding-bottom: 35px;
    }

    &-introduction, &-details, &-services3 {
      padding-bottom: 20px;
    }

    &-end {
      padding-bottom: 30px;
    }
  }
}

@media (min-width: 1395px) {
  .profile-section-content {

    .profile-section-image {
      .profile-section-image-profile {
        width: 200px;
        height: 200px;
      }
    }

    .profile-section-paragraph {
      font-size: var(--normal-font);
      &-title {
        font-size: var(--x-large-font);
      }
    }
  }
}