.portfolio-section-content {
  .portfolio-section {
    &-social, &-projects, &-map {
      margin-bottom: 55px;

      &-title {
        margin-left: 40px;
        margin-bottom: 25px;
        font-size: var(--normal-font);
        font-weight: var(--medium-font-weight);

        span {
          font-size: var(--small-font);
        }
      }

      &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-copyright {
      display: flex;
      justify-content: space-around;
      padding: 0 30px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 1395px) {
  .portfolio-section-content {
    background: var(--background--right-side);
    .portfolio-section {
      &-social, &-projects, &-map {
        &-title {
          font-size: var(--x-medium-large-font);

          span {
            font-size: var(--base-font);
          }
        }
      }

      &-map-cards {
        justify-content: flex-start;
      }
    }
  }
}