.left-side-content {
  padding: 0 40px;
  margin-top: 65px;
  margin-bottom: 65px;

  .left-side-image {
    padding-bottom: 30px;

    .left-side-image-profile {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      object-fit: cover;
      object-position: 50% 25%;
    }
  }

  .left-side-paragraph {
    &-title {
      font-size: var(--medium-large-font);
      font-weight: var(--medium-font-weight);
      padding-bottom: 35px;
    }

    &-introduction, &-details, &-services3 {
      padding-bottom: 20px;
    }

    &-end {
      padding-bottom: 30px;
    }
  }

  .left-side-copyright {
    font-size: var(--small-font);
    display: none;
  }
}

@media (min-width: 1395px) {
  .left-side-content {

    .left-side-image {
      .left-side-image-profile {
        width: 189px;
        height: 189px;
      }
    }
    .left-side-copyright {
      display: flex;
      margin-top: 200px;
      justify-content: space-between;
    }

    .left-side-paragraph {
      font-size: var(--normal-font);
      &-title {
        font-size: var(--x-large-font);
      }
    }
  }
}