.left-side-content {
  .left-side-image {
    .left-side-image-profile {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      object-fit: cover;
      object-position: 50% 25%;
    }
  }
  .left-side-copyright {

  }
}