.right-side-content {
  .right-side-social {
    margin-bottom: 55px;

    &-title {
      margin-left: 40px;
      margin-bottom: 25px;
      font-size: var(--normal-font);

      span {
        font-size: var(--small-font);
      }
    }

    &-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .right-side-projects {
    margin-bottom: 55px;

    &-title {
      margin-left: 40px;
      margin-bottom: 25px;
      font-size: var(--normal-font);
    }

    &-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}