@import './base.css';

#app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media (min-width: 530px) {
  .left-side-content {
    width: 555px;
  }

  .right-side-content {
    width: 555px;
  }
}

@media (min-width: 1395px) {
  #app {
    display: flex;
    flex-direction: unset;
    align-items: unset;
    justify-content: center;

    .right-side {
      &-content {
        width: 840px;
        padding-top: 65px;
      }
    }

    .left-side-content {
      width: 555px;
    }
  }
}

