.badge-work {
  cursor: pointer;
  text-decoration: none;
  width: 154px;
  height: 48px;
  border-radius: var(--large-border-radius);
  background: var(--first-color-0);
  display: flex;
  justify-content: center;
  align-items: center;

  .badge-work-message {
    font-weight: var(--maximum-font-weight);
    font-size: var(--small-medium-font);
  }
}

.badge-work-open {
  border: 1px solid var(--border-openwork-color);
  .badge-work-message {
    color: var(--color-openwork-button);
  }
}

.badge-work-not-open {
  border: 1px solid var(--border-notwork-color);
  .badge-work-message {
    color: var(--color-notwork-button);
  }
}

@media (min-width: 1395px) {
  .badge-work {
    .badge-work-message {
      font-size: var(--base-font);
    }
  }
}